<label
  for="modal-edit-mahasiswa"
  id="labelModalEditMahasiswa"
  class="btn btn-sm md:btn-md btn-warning modal-button"
  data-id="<%= mahasiswas[index]._id %>"
  data-nama="<%= mahasiswas[index].nama %>"
  data-npm="<%= mahasiswas[index].npm %>"
  data-email="<%= mahasiswas[index].email %>"
  data-nohp="<%= mahasiswas[index].nohp %>"
  data-jenis-kelamin="<%= mahasiswas[index].jenisKelamin %>"
  data-program-studi="<%= mahasiswas[index].programStudi._id %>"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-4 md:h-6 w-4 md:w-6"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
    />
  </svg>
</label>
<input type="checkbox" id="modal-edit-mahasiswa" class="modal-toggle" />
<div class="modal">
  <div class="modal-box">
    <form
      action="/admin/update-mahasiswa?_method=PUT"
      name="form-edit"
      method="POST"
    >
      <div class="form-control">
        <label class="label" for="nama">
          <span class="label-text">Nama</span>
        </label>
        <input
          type="text"
          class="input input-primary input-bordered"
          name="nama"
          id="nama"
          required
          disabled
        />
      </div>
      <div class="form-control">
        <label class="label" for="npm">
          <span class="label-text">NPM</span>
        </label>
        <input
          type="text"
          class="input input-primary input-bordered"
          name="npm"
          id="npm"
          required
          disabled
        />
      </div>
      <div class="form-control">
        <label class="label" for="email">
          <span class="label-text">Email</span>
        </label>
        <input
          type="email"
          class="input input-primary input-bordered"
          name="email"
          id="email"
          required
          disabled
        />
      </div>
      <div class="form-control">
        <label class="label" for="nohp">
          <span class="label-text">Nomor HP</span>
        </label>
        <input
          type="tel"
          class="input input-primary input-bordered"
          name="nohp"
          id="nohp"
        />
      </div>
      <div class="form-control">
        <label for="jenisKelamin" class="label">
          <span class="label-text">Jenis Kelamin</span>
        </label>
        <select
          class="select select-bordered select-primary w-full max-w-xs"
          name="jenisKelamin"
          id="jenisKelamin"
          required
        >
          <option value="" disabled="disabled" selected="selected">
            -Pilih Jenis Kelamin-
          </option>
          <option value="L">Laki-Laki</option>
          <option value="P">Perempuan</option>
        </select>
      </div>
      <div class="form-control">
        <label for="programStudi" class="label">
          <span class="label-text">Program Studi</span>
        </label>
        <select
          class="select select-bordered select-primary w-full max-w-xs"
          name="programStudi"
          id="programStudi"
          required
          disabled
        >
          <option value="" disabled="disabled" selected="selected">
            -Pilih Program Studi-
          </option>
          <% programStudies.forEach(programStudi => { %>
          <option value="<%= programStudi._id %>">
            <%= programStudi.nama %>
          </option>
          <% }) %>
        </select>
      </div>
      <div class="modal-action">
        <input type="hidden" name="id" id="id" />
        <button type="submit" class="btn btn-warning">Ubah</button>
        <label for="modal-edit-mahasiswa" class="btn">Tutup</label>
      </div>
    </form>
  </div>
</div>
