<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title><%= title %> - Website Ujian Online</title>
    <% include ../../../partials/header.ejs %>
  </head>
  <body>
    <div class="min-h-full">
      <% include ../../../partials/navbar.ejs %>

      <header class="bg-white shadow">
        <div class="max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8">
          <div class="text-3xl font-bold text-gray-900 breadcrumbs">
            <ul>
              <li>
                <a href="/lecturer/bank-soal">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    class="w-6 h-6 mr-2 stroke-current"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"
                    ></path>
                  </svg>
                  Bank Soal
                </a>
              </li>
              <li>
                <a href="/lecturer/bank-soal/<%= mataKuliah._id %>">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    class="w-6 h-6 mr-2 stroke-current"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"
                    ></path>
                  </svg>
                  <%= mataKuliah.nama %>
                </a>
              </li>
              <li>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  class="w-6 h-6 mr-2 stroke-current"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"
                  ></path>
                </svg>
                Detail
              </li>
            </ul>
          </div>
        </div>
      </header>
      <main data-aos="fade-in">
        <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
          <% include ../../../partials/alert.ejs %>
          <!-- START: Content -->
          <div class="hero min-h-screen">
            <div class="flex-col hero-content lg:flex-row-reverse">
              <% if (bankSoal.soalGambar.message !== "" &&
              bankSoal.pilihanGambarA.message === "" &&
              bankSoal.pilihanGambarB.message === "" &&
              bankSoal.pilihanGambarC.message === "" &&
              bankSoal.pilihanGambarD.message === "" &&
              bankSoal.pilihanGambarE.message === "") { %>
              <img
                src="<%= urlSoalGambar %>/<%= bankSoal.soalGambar.message %>"
                class="max-w-sm rounded-lg shadow-2xl"
                alt="Soal Gambar"
              />
              <% } %>
              <div>
                <% if (bankSoal.soalGambar.message !== "" &&
                bankSoal.pilihanGambarA.message !== "" &&
                bankSoal.pilihanGambarB.message !== "" &&
                bankSoal.pilihanGambarC.message !== "" &&
                bankSoal.pilihanGambarD.message !== "" &&
                bankSoal.pilihanGambarE.message !== "") { %>
                <div class="flex flex-col justify-center items-center mb-20">
                  <img
                    src="<%= urlSoalGambar %>/<%= bankSoal.soalGambar.message %>"
                    class="max-w-sm rounded-lg shadow-2xl mb-5"
                    alt="Soal Gambar"
                  />
                  <h1 class="text-5xl font-bold">
                    <%= bankSoal.soal.message %>
                  </h1>
                </div>
                <% abjads.forEach(abjad => { %>
                <p class="mb-5 space-y-3">
                  <%= abjad %>. &emsp; <% if (bankSoal["pilihanGambar" +
                  abjad].message !== "") { %> <%= bankSoal["pilihan" +
                  abjad].message %> <img src="<%= urlPilihanGambar %>/<%=
                  bankSoal["pilihanGambar" + abjad].message %>" class="max-w-sm
                  rounded-lg shadow-2xl mt-2" alt="Pilihan Jawaban" /> <% } else
                  { %> <%= bankSoal["pilihan" + abjad].message %> <% } %>
                </p>
                <% }) %>
                <p>
                  Kunci Jawaban :
                  <span class="text-accent font-bold">
                    <%= bankSoal.kunciJawaban.message %>
                  </span>
                </p>
                <% } else { %>
                <h1 class="mb-5 text-5xl font-bold">
                  <%= bankSoal.soal.message %>
                </h1>
                <% abjads.forEach(abjad => { %>
                <p class="mb-5">
                  <%= abjad %>. &emsp; <% if (bankSoal["pilihanGambar" +
                  abjad].message !== "") { %> <%= bankSoal["pilihan" +
                  abjad].message %> <img src="<%= urlPilihanGambar %>/<%=
                  bankSoal["pilihanGambar" + abjad].message %>" class="max-w-sm
                  rounded-lg shadow-2xl mt-2" alt="Pilihan Jawaban" /> <% } else
                  { %> <%= bankSoal["pilihan" + abjad].message %> <% } %>
                </p>
                <% }) %>
                <p>
                  Kunci Jawaban :
                  <span class="text-accent font-bold">
                    <%= bankSoal.kunciJawaban.message %>
                  </span>
                </p>
                <% } %>
                <p class="mt-1">Dibuat oleh : <%= bankSoal.dosen.nama %></p>
              </div>
            </div>
          </div>

          <a
            href="/lecturer/bank-soal/<%= mataKuliah._id %>"
            type="button"
            class="btn btn-md btn-block mt-2"
          >
            Kembali</a
          >
          <!-- END: Content -->
        </div>
      </main>
    </div>

    <% include ../../../partials/script.ejs %>
  </body>
</html>
