<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title><%= title %> - Website Ujian Online</title>
    <% include ../../partials/header.ejs %>
  </head>
  <body>
    <div class="min-h-full">
      <% include ../../partials/navbar.ejs %>

      <header class="bg-white shadow">
        <div class="max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8">
          <h1 class="text-3xl font-bold text-gray-900">
            <%= currentDosen.nama %>
          </h1>
        </div>
      </header>
      <main data-aos="fade-in">
        <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
          <% include ../../partials/alert.ejs %>
          <!-- START: Content -->
          <div class="bg-white shadow overflow-hidden sm:rounded-lg">
            <div class="px-4 py-5 sm:px-6">
              <h3 class="text-lg leading-6 font-medium text-gray-900">
                Informasi profile
              </h3>
              <p class="mt-1 max-w-2xl text-sm text-gray-500">
                Detail dari akun profile
              </p>
            </div>
            <div class="border-t border-b border-gray-200">
              <dl>
                <form action="/lecturer/update-profile?_method=PUT" method="post">
                  <div
                    class="
                      bg-gray-50
                      px-4
                      py-5
                      sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6
                    "
                  >
                    <dt class="text-sm font-medium text-gray-500">Nama</dt>
                    <dd
                      class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"
                    >
                      <%= currentDosen.nama %>
                    </dd>
                  </div>

                  <div
                    class="
                      bg-white
                      px-4
                      py-5
                      sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6
                    "
                  >
                    <dt class="text-sm font-medium text-gray-500">
                      NIP
                    </dt>
                    <dd
                      class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"
                    >
                      <%= currentDosen.nip %>
                    </dd>
                  </div>

                  <div
                    class="
                      bg-gray-50
                      px-4
                      py-5
                      sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6
                    "
                  >
                    <dt class="text-sm font-medium text-gray-500">
                      Jenis Kelamin
                    </dt>
                    <dd
                      class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"
                    >
                      <%= currentDosen.jenisKelamin === "L" ? "Laki-laki" : "Perempuan" %>
                    </dd>
                  </div>

                  <div
                    class="
                      bg-white
                      px-4
                      py-5
                      sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6
                    "
                  >
                    <dt class="text-sm font-medium text-gray-500">
                      Alamat email
                    </dt>
                    <dd
                      class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"
                    >
                      <a class="text-primary" href="/lecturer/ubah-email"><%= currentDosen.email %></a>
                    </dd>
                  </div>

                  <div
                    class="
                      bg-gray-50
                      px-4
                      py-5
                      sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6
                    "
                  >
                    <dt class="text-sm font-medium text-gray-500">
                      Password
                    </dt>
                    <dd
                      class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"
                    >
                    <a href="/lecturer/ubah-password" class="flex text-red-400">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 7a2 2 0 012 2m4 0a6 6 0 01-7.743 5.743L11 17H9v2H7v2H4a1 1 0 01-1-1v-2.586a1 1 0 01.293-.707l5.964-5.964A6 6 0 1121 9z" />
                        </svg>
                        Ubah password
                    </a>
                    </dd>
                  </div>
                </dl>
            </div>
            <button type="submit" class="btn btn-primary btn-block">
                <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 mr-1"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M8 7H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-3m-1 4l-3 3m0 0l-3-3m3 3V4"
                />
              </svg>
              Simpan
            </button>
            </form>
          </div>
          <!-- END: Content -->
        </div>
      </main>
    </div>

    <% include ../../partials/script.ejs %>
  </body>
</html>
