<label
  for="modal-edit-mata-kuliah"
  id="labelModalEditMataKuliah"
  class="btn btn-sm md:btn-md btn-warning modal-button"
  data-id="<%= mataKuliahs[index]._id %>"
  data-nama="<%= mataKuliahs[index].nama %>">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-4 md:h-6 w-4 md:w-6"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
    />
  </svg>
</label>
<input type="checkbox" id="modal-edit-mata-kuliah" class="modal-toggle" />
<div class="modal">
  <div class="modal-box">
    <form
      action="/admin/update-mata-kuliah?_method=PUT"
      name="form-edit"
      method="POST"
    >
      <div class="form-control">
        <label class="label" for="nama">
          <span class="label-text">Nama</span>
        </label>
        <input
          type="text"
          class="input input-bordered"
          name="nama"
          id="nama"
          required
        />
      </div>
      <div class="form-control">
        <label for="kelas" class="label">
          <span class="label-text">Kelas</span>
        </label>
        <select
          class="select-multiple-edit-kelas w-full"
          name="kelas"
          id="kelas"
          multiple="multiple"
          required
        >
          <option value="" disabled="disabled">-Pilih Kelas-</option>
          <% classes.forEach(kelas => { %>
          <option value="<%= kelas._id %>" 
            <% mataKuliahs[index].kelas.forEach(matkulKelas => { %>
             <% if (kelas._id.toString() === matkulKelas._id.toString()) { %>
              selected
             <% } %>
            <% }) %>
            ><%= kelas.nama %></option>
          <% }) %>
        </select>
      </div>
      <div class="form-control">
        <label for="programStudi" class="label">
          <span class="label-text">Program Studi</span>
        </label>
        <select
          class="select-multiple-edit-program-studi w-full"
          name="programStudi"
          id="programStudi"
          multiple="multiple"
          required
        >
          <option value="" disabled="disabled">-Pilih Program Studi-</option>
          <% programStudies.forEach(programStudi => { %>
          <option value="<%= programStudi._id %>" 
            <% mataKuliahs[index].programStudi.forEach(matkulProdi => { %>
             <% if (programStudi._id.toString() === matkulProdi._id.toString()) { %>
              selected
             <% } %>
            <% }) %>
            >
            <%= programStudi.nama %>
          </option>
          <% }) %>
        </select>
      </div>
      <div class="modal-action">
        <input type="hidden" name="id" id="id" />
        <button type="submit" class="btn btn-warning">Ubah</button>
        <label for="modal-edit-mata-kuliah" class="btn">Tutup</label>
      </div>
    </form>
  </div>
</div>
