<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title><%= title %> - Website Ujian Online</title>
    <% include ../../partials/header.ejs %>

    <link rel="stylesheet" href="/stylesheets/dataTable.css" />
  </head>
  <body>
    <div class="min-h-full">
      <% include ../../partials/navbar.ejs %>

      <header class="bg-white shadow">
        <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
          <h1 class="text-3xl font-bold text-gray-900">Data Mata Kuliah</h1>
        </div>
      </header>
      <main data-aos="fade-in">
        <div class="max-w-7xl mx-auto py-6 px-6 md:px-8">
          <!-- START: Content -->
          <% include ../../partials/alert.ejs %> 

          <% if (mataKuliahs.length != 0) { %>

          <div class="flex flex-row items-center justify-between">
            <% include ./create_modal.ejs %>

            <% include ./delete_modal.ejs %>
          </div>

          <div class="overflow-x-auto mt-6">
            <table
              id="tableMataKuliah"
              class="stripe hover"
              style="width: 100%; padding-top: 1em; padding-bottom: 1em"
            >
              <thead>
                <tr>
                  <th></th>
                  <th>Nama</th>
                  <th>Kelas</th>
                  <th>Prodi</th>
                  <th>Aksi</th>
                </tr>
              </thead>
              <tbody>
                <% for( let index = 0; index < mataKuliahs.length; index++ ) { %>
                <tr>
                  <td>
                    <label>
                      <input type="checkbox" class="checkbox" name="checkbox" id="checkbox" value="<%= mataKuliahs[index]._id %>" />
                    </label>
                  </td>
                  <td><%= mataKuliahs[index].nama %></td>
                  <td>
                    <% mataKuliahs[index].kelas.forEach(matkulKelas => { %>
                      <div class="badge badge-primary badge-outline text-2xs whitespace-nowrap mb-1 lg:mb-0">
                        <%= matkulKelas.nama %>
                      </div> 
                    <% }) %>
                  </td>
                  <td>
                    <% mataKuliahs[index].programStudi.forEach(matkulProdi => { %>
                      <div class="badge badge-primary badge-outline text-2xs whitespace-nowrap mb-1 lg:mb-0">
                        <%= matkulProdi.nama %>
                      </div> 
                    <% }) %>
                  </td>
                  <td>
                    <a href="/admin/edit-mata-kuliah/<%= mataKuliahs[index]._id %>" class="btn btn-sm lg:btn-md btn-warning">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 lg:h-6 w-4 lg:w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                      </svg>
                    </a>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
          <% } else { %>
          <div class="flex flex-col justify-center items-center py-10 space-y-3">
            <img src="/images/404.png" alt="404 - Not Found" class="mb-4" />
            <p class="text-center font-light">
              Ooppss, nampaknya data mata kuliah saat ini kosong, <br />
              silahkan tambahkan mata kuliah.
            </p>
            <% include ./create_modal.ejs %>
          <% } %>
          <!-- END: Content -->
        </div>
      </main>
    </div>

    <% include ../../partials/script.ejs %>

    <script>
      $(document).ready(function () {
        // START: Show datatable
        $("#tableMataKuliah")
          .DataTable({
            responsive: true,
          })
          .columns.adjust()
          .responsive.recalc();
        });
        // END: Show datatable

        // START: Select2
        $(".select2").select2();
        // END: Select2

        // START: Delete checkbox or multiple data
        var valueList = document.getElementById("valueList");
        var listArray = [];
        var checkboxes = document.querySelectorAll(".checkbox");

        for (var checkbox of checkboxes) {
          checkbox.addEventListener("click", function () {
            if(this.checked == true) {
              listArray.push(this.value);
              document.forms["form-delete"]["valueList"].value = listArray;
            }else{
              listArray = listArray.filter(e => e !== this.value);
              document.forms["form-delete"]["valueList"].value = listArray;
            }
          })
        }
        // END: Delete checkbox or multiple data

        // START: Delete only one data
        // $("#tableMataKuliah").on("click", "#labelModalDeleteMataKuliah", function () {
        //   let id = $(this).data("id");
        //   document.forms["form-delete"]["id"].value = id;
        // });
        // END: Delete only one data
    </script>
  </body>
</html>
