<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title><%= title %> - Website Ujian Online</title>
    <% include ../../../partials/header.ejs %>

    <link rel="stylesheet" href="/stylesheets/dataTable.css" />
    <style>
      html,
      body {
        height: 100%;
      }
    
      @media (min-width: 640px) {
        table {
          display: inline-table !important;
        }
    
        thead tr:not(:first-child) {
          display: none;
        }
      }
    
      td:not(:last-child) {
        border-bottom: 0;
      }
    
      th:not(:last-child) {
        border-bottom: 2px solid rgba(0, 0, 0, .1);
      }
    </style>
  </head>
  <body>
    <div class="min-h-full">
      <% include ../../../partials/navbar.ejs %>

      <header class="bg-white shadow">
        <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
          <div class="text-3xl font-bold text-gray-900 breadcrumbs">
            <ul>
              <li>
                <a href="/lecturer/hasil-ujian">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-6 h-6 mr-2 stroke-current">          
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path>                
                  </svg>
                      Hasil Ujian
                </a>
              </li> 
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-6 h-6 mr-2 stroke-current">          
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path>                
                </svg>
                  <%= mataKuliah.nama %>
              </li>
            </ul>
          </div>
        </div>
      </header>
      <main data-aos="fade-in">
        <div class="max-w-7xl mx-auto py-6 px-6 md:px-8">
          <!-- START: Content -->
          <% include ../../../partials/alert.ejs %> 

          <div class="flex flex-row items-start justify-start space-x-2">
            <a href="/lecturer/hasil-ujian/<%= mataKuliah._id %>/generate-pdf" type="button" class="btn btn-sm md:btn-md btn-error">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 md:h-6 w-4 md:w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 21h10a2 2 0 002-2V9.414a1 1 0 00-.293-.707l-5.414-5.414A1 1 0 0012.586 3H7a2 2 0 00-2 2v14a2 2 0 002 2z" />
              </svg> Generate PDF
            </a>

            <a href="/lecturer/hasil-ujian/<%= mataKuliah._id %>/download-pdf" class="btn btn-sm md:btn-md btn-primary">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 md:h-6 w-4 md:w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 10v6m0 0l-3-3m3 3l3-3m2 8H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
              </svg> Unduh PDF
            </a>
          </div>

          <% if (hasilUjians.length != 0) { %>
          <div class="overflow-x-auto mt-6">
            <table
              id="tableHasilUjian"
              class="stripe hover"
              style="width: 100%; padding-top: 1em; padding-bottom: 1em"
            >
              <thead>
                <tr>
                  <th>Nama Ujian</th>
                  <th>Mahasiswa</th>
                  <th>Nilai</th>
                  <th>Aksi</th>
                </tr>
              </thead>
              <tbody>
                <% for( let index = 0; index < hasilUjians.length; index++ ) { %>
                  <tr class="text-2xs lg:text-base text-center">
                    <td><%= hasilUjians[index].jadwalUjian.namaUjian %></td>
                    <td><%= hasilUjians[index].mahasiswa.nama %> (<%= hasilUjians[index].mahasiswa.npm %>)</td>
                    <td><%= hasilUjians[index].nilai.message %></td>
                    <td>
                      <a href="/lecturer/hasil-ujian/<%= mataKuliah._id %>/detail-hasil-ujian/<%= hasilUjians[index]._id %>" class="btn btn-sm lg:btn-md">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 lg:h-6 w-4 lg:w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                        </svg>
                      </a>
                    </td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          </div>
          <% } else { %>
          <div class="flex flex-col justify-center items-center py-10 space-y-3">
            <img src="/images/404.png" alt="404 - Not Found" class="mb-4" />
            <p class="text-center font-light">
              Ooppss, nampaknya data hasil ujian mata kuliah <br /> <%= mataKuliah.nama %> kosong!
            </p>
          <% } %>
          <!-- END: Content -->
        </div>
      </main>
    </div>

    <% include ../../../partials/script.ejs %>

    <script>
      $(document).ready(function () {
        // START: Show datatable
        $("#tableHasilUjian")
          .DataTable({
            responsive: true,
          })
          .columns.adjust()
          .responsive.recalc();
      });
      // END: Show datatable
    </script>
  </body>
</html>
